<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>发布宝贝</title>
    <% include component/css.ejs %>
  </head>
  <body>
    <% include component/header.ejs%>
    <section class="section-warpper">
        <%include component/left_colum.ejs%>
        <div class="right_board">
          <header>
            <h1>
              发布我的宝贝-卖
            </h1>
          </header>
          <section>
              <div class="sec-container">
                <div class="add_product_details">
                  <form  enctype="multipart/form-data" method="post" class= "form-good-submit">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="">
                          <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">宝贝类别</span>
                            <input type="text" class="form-control" id = "user-goods-sort" placeholder="请输入宝贝的类比，如手机" aria-describedby="basic-addon1">
                          </div>
                          <span class="error-msg">不能为空</span>
                          <br>
                          <div class="input-group">
                            <span class="input-group-addon" id="basic-price">宝贝卖价</span>
                            <input type="text" class="form-control" id = "user-goods-salePrice" placeholder="变卖价格" aria-describedby="basic-price">
                          </div>
                          <span class="error-msg">不能为空</span>                       
                          <br>
                          <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">宝贝名称</span>
                            <input type="text" class="form-control" id = "user-goods-name" placeholder="请输入宝贝的名称，如苹果6" aria-describedby="basic-addon2">
                          </div>
                          <span class="error-msg">不能为空</span>                          
                          <br>
                          <div class="input-group">
                            <span class="input-group-addon" id="basic-time">宝贝用时</span>
                            <select name="" id ="user-goods-time" class="form-control" aria-describedby="basic-time">
                              <option value="">半年内</option>
                              <option value="">半个月内</option>
                              <option value="">一个月内</option>
                              <option value="">三个月内</option>
                              <option value="">一个星期以内</option>
                              <option value="">一年内</option>
                              <option value="">超过一年</option>
                            </select>
                          </div>
                          <span class="error-msg">不能为空</span>  
                          <br>
                          <div class="form-group">
                            <div id="uploadForm"  method="post" enctype="multipart/form-data">
                              <div class="upload_box">
                                  <div class="upload_main">
                                    <div class="upload_choose">
                                      <input id="fileImage" type="file" size="30" name="fileselect" multiple />
                                      <span id="fileDragArea" class="upload_drag_area">请选择四张图片或者将图片拖到此处</span>
                                    </div>
                                    <div id="preview" class="upload_preview"></div>
                                  </div>
                                  <span class="error-img-file">请选择四张不同的图片</span>
                                  <div class="upload_submit">
                                    <button type="button" id="fileSubmit" class="upload_submit_btn">确认上传图片</button>
                                  </div>
                                  <div id="uploadInf" class="upload_inf"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div class="input-group">
                            <span class="input-group-addon" id="basic-username">姓名</span>
                            <input type="text" class="form-control" id = "user-name" placeholder="您的姓名，方便我们称呼您" aria-describedby="basic-username">
                          </div>
                          <span class="error-msg">不能为空</span>
                          <br>
                          <div class="input-group">
                            <span class="input-group-addon" id="basic-tel">电话</span>
                            <input type="text" class="form-control" id = "user-phone" placeholder="您的电话，方便我们联系您" aria-describedby="basic-tel">
                          </div>
                          <span class="error-msg">不能为空</span>
                          <span class="error-msg-formate">请输入正确的号码</span>
                          <br>
                          <div class="input-group" style="display: none;">
                            <span class="input-group-addon" id="basic-tel">交易类型</span>
                            <input type="text" class="form-control" id = "user-selectway"  aria-describedby="basic-tel" value="sale" disabled>
                          </div>
                          <div class="input-group">
                            <span class="input-group-addon" id="basic-price">宝贝原价</span>
                            <input type="text" class="form-control" id = "user-goods-price" placeholder="购买时价格" aria-describedby="basic-price">
                          </div>
                          <span class="error-msg">不能为空</span>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="form-group">
                            <label for="message-text" class="control-label">补充:</label>
                            <textarea class="form-control" id="user-goods-addText"></textarea>
                          </div>
                          <br>
                          <button type="button" class="btn btn-default" id ="saleGoods-submit">提交</button>

                      </div>
                    </div>
                  </form>
                </div>
              </div>
          </section>
          <hr>          
          <div class="sample-show">      
            <h4 class="text-center">你将要发布的东西，会在主页以及相关页面如下所示：</h4>
            <hr>       
            <% include component/sample.ejs%>
          </div> 
        </div>
    </section>
    <footer class="copy_right">
      <p>Copyright © 2017.Brother Team All rights reserved.</p>
    </footer>
    <% include  component/js.ejs%>

  </body>
</html>
