<section>
    <div class="container-fluid">
      <div class="row">
        <div class="left_product_img col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active sec-goods-img-default">
                <div class="sec-goods-img- sec-goods-img-sample-one ">
                  
                </div>
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item sec-goods-img-default">
                <div class="sec-goods-img- sec-goods-img-sample-two">
                  
                </div>
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item sec-goods-img-default">
                <div class="sec-goods-img- sec-goods-img-sample-three">
                  
                </div>
                <div class="carousel-caption">
                </div>
              </div>
              <div class="item sec-goods-img-default">
                <div class="sec-goods-img- sec-goods-img-sample-four">
                  
                </div>
                <div class="carousel-caption">
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="right_product_details col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="">
            <ul>
              <li>
                <span class="right_board_categories">类别：</span>
                <span class="right_board_categories_sort">篮球</span>
              </li>
              <li>
                <span class="right_board_categories">名称：</span>
                <span class="right_board_categories_name">斯伯丁</span>
              </li>
              <li>
                <span class="right_board_categories">换向：</span>
                <span class="right_board_categories_target">仰卧起坐健身器</span>
              </li>
              <li>
                <span class="right_board_categories">原价(¥)：</span>
                <span class="right_board_categories_price">240</span>
              </li>
              <li>
                <span class="right_board_categories">用时：</span>
                <span class="right_board_categories_usetime">6个月</span>
              </li>
              <li>
                <span class="right_board_categories">联系人：</span>
                <span class="right_board_categories_people">阿逗</span>
              </li>
              <li>
                <span class="right_board_categories">联系电话：</span>
                <span class="right_board_categories_tel">18516217735</span>
              </li>
              <li>
                <span class="right_board_categories">详细补充：</span> <br>
                <span class="product_details_addText right_board_categories_name">
                    这个篮球我一直都在用，手感不错，出去打的时候，同学都是在用我的球，由于最近又收到一个篮球，多出一个，所有将他换一个一直都缺的仰卧起坐健身器。
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>