
<div class="left_colum">
  <nav class="navbar-side">
    <div class="sidebar-collapse">
      <ul class="left_colum_nav">
        <li >
            <a href="/help/list?page=0" >
                <i class="glyphicon glyphicon-heart-empty"></i>
                <span>帮帮忙</span>
            </a>
        </li>
        <li  class="sec-market-all">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title sec-market">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <i class="glyphicon glyphicon-eye-open"></i> 
                  <span>跳骚市场</span>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <ul class="sec-market-ul">
                  <li >
                    <a href="/sale/list?page=0">
                      <i class="glyphicon glyphicon-jpy"></i>
                      <span>卖(闲置物-卖)</span>
                    </a>
                  </li>
                  <li >
                      <a href="/send/list?page=0">
                        <i class="glyphicon glyphicon-export"></i>
                        <span>送(顺水人情)</span>
                      </a>
                  </li>
                  <li >
                      <a href="/donate/list?page=0" >
                        <i class="glyphicon glyphicon-heart-empty"></i>
                        <span>捐(用不上-捐)</span>
                      </a>
                  </li>
                  <li>
                      <a href="/exchange/list?page=0">
                        <i class="glyphicon glyphicon-resize-horizontal"></i>
                        <span>换(以物换物)</span>
                      </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="/note/list?page=0" >
            <i class="glyphicon glyphicon-road"></i>
            <span>自由贴</span>
          </a>
        </li>
        <li>
          <a href="/event/list?page=0" >
              <i class="glyphicon glyphicon-magnet"></i>
              <span>校园大事件</span>
          </a>
        </li>
      <ul>
    </div>
  </nav>
</div>

<div class="sec-top-nav">
      <nav class="">
        <div class="container-fluid">
          <div class="row">
            <div class="top_colum_nav">
              
              <div class="col-sm-3 col-xs-3">
                <div class="sec-top-a">
                  <a href="/sale/list?page=0">
                      <span>卖</span>
                  </a>
                </div>
              </div>

              <div class="col-sm-3 col-xs-3">
                <div class="sec-top-a">
                  <a href="/send/list?page=0">
                      <span>送</span>
                  </a>
                </div>
              </div>
              
              <div class="col-sm-3 col-xs-3">
                <div class="sec-top-a">
                  <a href="/exchange/list?page=0">
                      <span>换</span>
                  </a>
                </div>
              </div>

              <div class="col-sm-3 col-xs-3">
                <div class="sec-top-a">
                  <a href="/donate/list?page=0" >
                      <span>捐</span>
                  </a>
                </div>
              </div>

              <div class="col-sm-4 col-xs-4">
                <div class="sec-top-a">
                  <a href="/help/list?page=0" >
                    <span>帮帮忙</span>
                  </a>
                </div>
              </div>

              <div class="col-sm-4 col-xs-4">
                <div class="sec-top-a">
                  <a href="/note/list?page=0" >
                    <span>自由贴</span>
                 </a>
                </div>
              </div>
              <div class="col-sm-4 col-xs-4">
                <div class="sec-top-a">
                  <a href="/event/list?page=0" >
                    <span>校园事件</span>
                 </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
</div>  

