<form class="navbar-form  form-control sec-nav-bar">
  <div class="sec-search-box ">
    <div class="input-group">
      <input type="text" class="form-control sec-form-search" placeholder="搜！ 嗖的一下！" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2" role="button">搞起</span>
    </div>
  </div>
  <div class="sec-show-search-logo">
    <span class="glyphicon glyphicon-search"></span>
  </div>
</form>